<mat-card>
  <div>
    <iframe width="100%" height="300px" [src]="video.trailer | safe"> </iframe>
  </div>
</mat-card>
<mat-card>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Description
      </mat-expansion-panel-header>
      <mat-form-field>
        <div>
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="name"
                required
                matInput
                placeholder="name"
                [(ngModel)]="video.name"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="trailer"
                required
                matInput
                placeholder="trailer link"
                [(ngModel)]="video.trailer"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="poster"
                required
                matInput
                placeholder="Poster"
                [(ngModel)]="video.poster"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="year"
                required
                matInput
                placeholder="Year"
                [(ngModel)]="video.year"
              />
            </div>
          </form>
        </div>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
